body {
    text-align: center;
    background-color: lightcyan;
}

h1 {
    color: darkblue;
}

a.button {
    margin: 4%;
    padding: 1.4%;
    color: cadetblue;
    background-color: aqua;
}

a.button:hover {
    transition: 200ms;
    color: aqua;
    background-color: cadetblue;
}

footer {
    border-top: solid;
    border-width: 2px;
}