body {
    text-align: center;
    background-color: lightcyan;
}

h1 {
    color: darkblue;
}

a.menu {
    margin: 4%;
    padding: 1.4%;
    color: cadetblue;
    background-color: aqua;
}

a.menu:hover {
    transition: 200ms;
    color: aqua;
    background-color: cadetblue;
}

a.menu.button {
    margin: 4%;
    padding: 1.4%;
    color: cadetblue;
    background-color: aqua;
}

a.menu.button:hover {
    transition: 200ms;
    color: aqua;
    background-color: cadetblue;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article {
    flex-basis: calc((100/3) -1);
    margin: 4%;
    border: solid;
}

article h3 {
    margin: 2%;
}

footer {
    border-top: solid;
    border-width: 2px;
}