body {
    text-align: center;
    background-color: lightcyan;
}

h1 {
    color: darkblue;
}

a {
    margin: 4%;
    padding: 1.4%;
    color: cadetblue;
    background-color: aqua;
}

a:hover {
    transition: 200ms;
    color: aqua;
    background-color: cadetblue;
}