@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    text-align: center;
    background-color: #303443;
    color: #f0f5fe;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #ffffff;
}

header {
    color: #ffffff;
}

a.menu {
    margin: 4%;
    padding: 0.7%;
    color: #ffffff;
    background-color: #4C53AD;
    border-radius: 5px;
}

a.menu:hover {
    transition: 200ms;
    color: #ffffff;
    background-color: #353C90;
}

a.menu.button {
    margin: 4%;
    padding: 1.4%;
    color: cadetblue;
    background-color: #A6ABE8;
}

a.menu.button:hover {
    transition: 200ms;
    color: #ffffff;
    background-color: #4C53AD;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article {
    flex-basis: calc((100/3) -1);
    margin: 2%;
    border: solid;
    border-radius: 30px;
    border-color: #814039;
}

article h3 {
    margin: 2%;
    padding-top: 10%;
}

footer {
    border-top: solid;
    border-width: 2px;
}

h4 {
    margin: 1%;
}

a.more {
    color: #f0f5fe;
}

/* Style pour cacher le contenu non sélectionné */
.langue-section {
    display: none;
}

/* Afficher le contenu de la langue sélectionnée */
#fr:checked ~ .langue-section.fr,
#en:checked ~ .langue-section.en {
    display: block;
}

img.flag_fr {
    width: 3%;
}

img.flag_en {
    width: 3%;
}

input {
  display: none;
}

input + label {
    margin: 1%;
    cursor: pointer;
    padding: 2% 2%;
    border: 2px solid #3498db;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  /* Styles for checked state */
  input:checked + label {
    background-color: #3498db;
    color: #fff;
  }

  /* Styles for hover state */
  input + label:hover {
    background-color: #3498db;
    color: #fff;
  }