.masection{
    display :flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article{
    border: solid 1px black;
    margin : 10px 0.5%  ;
    box-sizing: border-box;
    padding : 10px;
}

.art1-3{
    flex-basis : calc(100% / 3 - 20px);
}

.art2-3{
    flex-basis: 66%;
}

.art3-3 {
    flex-basis: 100%;
}